
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shear style */
.display-flex{
    display:flex;
}
.text-dark2{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn{
    color:#FFFFFF;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
}
/* head style */

/* nav bar */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 2.8rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner container */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titel{
    font-size: 4rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
}

/* responsive */
@media  screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}