
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shear style */
.display-flex{
    display:flex;
}
.text-dark2{
    color: #424242;
}
.text-dark3{
    color:#727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn{
    color:#FFFFFF;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin:0 auto;
}
main > section{
    margin-top: 130px;
}
.section-titel{
    font-size: 2.8rem;
    font-weight: 700px;
}
/* head style */

/* nav bar */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 2.8rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner container */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titel{
    font-size: 4rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
}

/* features section */
.team{
    align-items: center;
}
.tiam-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.tiam-feature{
    margin-left: 73px;
    max-width: 530px;
}

#s3{
    color:#FF900E;
}
.tiam-feature button{
    margin-top: 30px;
}
/* features well injoy */
.featurs{
    gap:140px
}
#section-titel{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-top: 0;
}
.features-card{
    padding:30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.features-card .features-titel{
    font-size: 1.25rem;
    font-weight: 600px;
    margin: 0;
}

#ex-batch{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500px;
    text-align: center;
    margin-top: -100px;
    margin-left: -100px;
}
#ex-year{
    font-size: 4rem;
    font-weight: 700px;
}
/* sume facts  */
.fackt-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    
}
#text-pg{
    max-width: 542px;
    margin-bottom: 100px;
}
.fackt{
    border: 1px solid #FF900E;
    padding: 46px 36px;
    border-radius: 8px;
    width: 242px;
    height:242px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fackt-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fackt-dr{
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
}

/* Our Sponspors  */
.sponspors-info{
    width: 542PX;
    margin: 50px auto;
    text-align: center;
}

.sponspors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponspors-company img{
    filter: grayscale(100%)
}
/* footer */
.footer{
    text-align: center;
    max-width: 1440px;
    margin:50px auto;
    border-radius: 8px;
}
.footer p{
    padding: 39px;
}

/* responsive */
@media  screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .team,
    .featurs
    {
        flex-direction: column;
    }
    
    .tiam-image-container,
    .fackt-container,
    .sponspors-company
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .fackt-container,
    .sponspors-company
    {
        justify-items: center;
        gap: 24px;
    }
    #ex-architect{
        width: 100%;
    }
    #ex-batch{
        margin-top: 20px;
        margin-left: 20px;
    }
    .tiam-feature{
        margin-left: 20px;
    }
    
}